#!/usr/bin/env python
# encoding=utf-8


import settings

settings.DEBUG = True

settings.DATABASES = {'default': {
    'ENGINE': 'django.db.backends.sqlite3',
    'NAME': 'ancf.sqlite',
    'USER': 'ancf',
    'PASSWORD': 'ancf',
    'HOST': '',
    'PORT': ''}
}

# change that one!
settings.SECRET_KEY = '________something'

