/** CSS **/


/** commone **/
h1 {text-align: center;}
body{
    background:#fff;
    color:#666;
    font:12px/18px Tahoma, Arial, Helvetica, sans-serif;
    -moz-border-radius: 7px 7px 7px 7px; -moz-box-shadow: 1px 1px 16px 2px;
    margin: 0 auto;width: 960px;height: 56em;}
li{list-style-type: none;display: inline;}
fieldset ul {background-color: #30363D; color: #F8F8F8; cursor: pointer;
            max-width: 30em; -opacity: 0.65; padding: 0.6em; right: 2em;}
fieldset a {text-decoration: none;color: inactivecaptiontext}
/** Add member **/
#add_member {width: 800px; margin: 0pt auto;}
#add_member h1{width: 740px; margin: 0pt auto;height: 35px; text-decoration: none; text-align: center;}
#add_member #member_form input[type="submit"] {padding-left: 5px; margin-left: 205px;}
#add_member #member_form {width: 740px; margin: 0pt auto;}
#add_member #member_form table{margin: 0pt auto;}

/** Modif org char **/

#modiforganization_chart {width: 800px; margin: 0pt auto;}
#modiforganization_chart h1{width: 795px; margin: 0pt auto;height: 35px; text-align: center;}
#modiforganization_chart #org_form input[type="submit"] {padding-left: 5px; margin-left: 302px;}
#modiforganization_chart #org_form {width: 740px; margin: 0pt auto;}
#modiforganization_chart #org_form table{margin: 0pt auto;}

/** Add rapport **/

#add_rapport #create_envoi_form {width: 800px; margin: 0pt auto;}
#add_rapport h1{width: 795px; margin: 0pt auto;height: 35px; text-align: center;}

/* consultation*/

#consultation  {width: 800px; margin: 0pt auto;}
/* Sidebar */
#sidebar {float: left;left: -3em;width: 170px;top: 205px;}

/* dashboard */

#dashboard input[type="text"]  {width: 141px;}
