/** CSS **/

/*body {background-color: red;}*/

#edit_text_static form table {width: 26em;height: 2em;}
#edit_text_unacem form table {width: 26em;height: 2em;}
#add_rapport textarea {width: 56em;}
#news textarea {width: 60em;}