<div id="menu">
    <ul>
        <li class="top"><a href="{% url dashboard %}" class="top_link"> <span>Resumés</span></a></li>
        <li class="top"><a href="{% url add_rapport %}" class="top_link"> <span>Ajout rapport</span></a></li>
        <li class="top"><a href="{% url consultation_report %}" class="top_link"><span>Rapports</span></a></li>
        <li class="top"><a href="{% url modif_organization_chart %}" class="top_link"><span>Organigramme</span></a>
        <li class="top"><a href= "#" class="top_link1"><span>Aide</span></a></li>
    </ul>
</div>
