{% extends "base.html" %}
{% block title %}Gestion des rapports{% endblock %}
{% block page-id %}add_rapport{% endblock %}
{% block content %}

<h2 class="page-header">Gestion des rapports</h2>
    <p>Cette section concerne les rapports émis par la comission des finances. Ils sont constitués d'une brève description et d'un fichier PDF à charger.</p>
    <p>Les visiteurs peuvent rechercher et télécharger les rapports par types depuis le site web. Ils pourront ensuite l'imprimer.</p>
    <p>Un e-mail est envoyé à tous les abonnés de la liste dès la publication du rapport.</p>


    <h3>Publier un nouveau rapport</h3>
        <form action="" method="post"  class="form-search" enctype="multipart/form-data">{% csrf_token %}
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <td>{{form.date.label}}:</td>
                            <td>{{form.date}} {{form.date.errors}}</td>
                        </tr>

                        <tr>
                            <td> {{form.title_report.label}}:</td>
                            <td>{{form.title_report}} {{form.title_report.errors}}</td>
                        </tr>

                        <tr>
                            <td> {{form.description.label}}:</td>
                            <td>{{form.description}} {{form.description.errors}}</td>
                        </tr>

                        <tr>
                            <td> {{form.report_pdf.label}}:</td>
                            <td>{{form.report_pdf}} {{form.report_pdf.errors}}</td>
                        </tr>

                        <tr>
                            <td> {{form.author.label}}:</td>
                            <td>{{form.author}} {{form.author.errors}}</td>
                        </tr>
                        <tr>
                            <td> {{form.type_report.label}}:</td>
                            <td>{{form.type_report}} {{form.type_report.errors}}</td>
                        </tr>
                        <tr>
                            <td></td><td><input type='submit' class="btn" value =  "Envoyer"/></td>
                        </tr>
                    </tbody>
                </table>
        </form>
        <script type="text/javascript">
            jQuery('#id_date').datepicker({
                 dateFormat: 'dd/mm/yy',
                });
        </script>
<h2>Archives</h2>
{% endblock %}
