{% extends "base.html" %}
{% block title %}Ajout Membre{% endblock %}
{% block page-id %}add_member{% endblock %}
{% block content %}

    <h2  class="page-header">Ajout de membre de la commission des finances</h2>
    <form action="" method="post" class="form-search" enctype="multipart/form-data">{% csrf_token %}
        <div id="member_form">
            <table class="table table-bordered table-striped">
                <tr>
                    <td>{{form.last_name.label}}:</td>
                    <td>{{form.last_name}} {{form.last_name.errors}}</td>
                </tr>
                <tr>
                    <td>{{form.first_name.label}}:</td>
                    <td>{{form.first_name}} {{form.first_name.errors}}</td>
                </tr>
                <tr>
                    <td>{{form.image.label}}:</td>
                    <td>{{form.image}} {{form.image.errors}}</td>
                </tr>
                <tr>
                    <td>{{form.post.label}}:</td>
                    <td>{{form.post}} {{form.post.errors}}</td>
                </tr>
                <tr>
                    <td>{{form.email.label}}:</td>
                    <td>{{form.email}} {{form.email.errors}}</td>
                </tr>
                <tr>
                    <td></td><td><input type='submit' class="btn btn-primary" value =  "Ajouter"/></td>
                </tr>
            </table>
        </div>
    </form>

{% endblock %}
