{% extends "base.html" %}
{% block title %}Ajout Rapport{% endblock %}
{% block page-id %}add_rapport{% endblock %}
{% block content %}


    <h1>Envoi du rapport</h1>
    <div id="create_envoi_form">
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                <table>
                    <tbody>
                        <tr>
                            <td>{{form.date.label}}:</td>
                            <td>{{form.date}} {{form.date.errors}}</td>
                        </tr>

                        <tr>
                            <td> {{form.title_report.label}}:</td>
                            <td>{{form.title_report}} {{form.title_report.errors}}</td>
                        </tr>

                        <tr>
                            <td> {{form.description.label}}:</td>
                            <td>{{form.description}} {{form.description.errors}}</td>
                        </tr>

                        <tr>
                            <td> {{form.report_pdf.label}}:</td>
                            <td>{{form.report_pdf}} {{form.report_pdf.errors}}</td>
                        </tr>

                        <tr>
                            <td> {{form.author.label}}:</td>
                            <td>{{form.author}} {{form.author.errors}}</td>
                        </tr>

                        <tr>
                            <td> {{form.type_report.label}}:</td>
                            <td>{{form.type_report}} {{form.type_report.errors}}</td>
                        </tr>
                    </tbody>
                </table>
                <p id = '' class= "{{save}}">
                <input type='submit' value =  "Envoyer"/></p>
        </form>
        <script type="text/javascript">
            jQuery('#id_date').datepicker({
                 dateFormat: 'dd/mm/yy',
                });
        </script>
    </div>

{% endblock %}
