{% extends "base.html" %}
{% block title %}Ajout Rapport{% endblock %}
{% block page-id %}add_rapport{% endblock %}
{% block content %}


    <h2 class="page-header">Envoi du rapport</h2>
        <form action="" method="post"  class="form-search" enctype="multipart/form-data">{% csrf_token %}
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <td>{{form.date.label}}:</td>
                            <td>{{form.date}} {{form.date.errors}}</td>
                        </tr>

                        <tr>
                            <td> {{form.type_report.label}}:</td>
                            <td>{{form.type_report}} {{form.type_report.errors}}</td>
                        </tr>

                        <tr>
                            <td> {{form.description.label}}:</td>
                            <td>{{form.description}} {{form.description.errors}}</td>
                        </tr>

                        <tr>
                            <td> {{form.report_pdf.label}}:</td>
                            <td>{{form.report_pdf}} {{form.report_pdf.errors}}</td>
                        </tr>

                        <tr>
                            <td> {{form.author.label}}:</td>
                            <td>{{form.author}} {{form.author.errors}}</td>
                        </tr>
                        <tr>
                            <td></td><td><input type='submit' class="btn" value =  "Envoyer"/></td>
                        </tr>
                    </tbody>
                </table>
        </form>
        <script type="text/javascript">
            jQuery('#id_date').datepicker({
                 dateFormat: 'dd/mm/yy',
                });
        </script>

{% endblock %}
