<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" >
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/css/menu.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/ancf_style.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/tableau.css" type="text/css" />

        <script src="/static/js/jquery.min.js"></script>
        <link rel="stylesheet" href="/static/css/jquery-ui-date.css" type="text/css" />
        <script src="/static/js/jquery-ui.min.js"></script>

    </head>

    <body>
        <div id="bienvenu">
            {% if user %}
                    <span>{% include "_bienvenu_utilisateur.html" %}</span>
            {% else %}
            <a href = '{% url login %}'>Administration</a>
            {% endif %}
        </div>
        {% if messages %}
        <ul id="messages" title="Informative Messages. Click to hide.">
            {% for message in messages %} <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div id="page">
            <div >{% include "_menu.html" %}</div>
                <div id="{% block page-id %}{% endblock %}" class="container ">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            <div id="footer">
                <p><a href="http://yeleman.com/">yɛlɛman</a></p>
            </div>
        </div>
    </body>
</html>
