<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" >
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/css/menu.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/ancf_style.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/tableau.css" type="text/css" />
    </head>
    <body>
        <div >{% include "_menu.html" %}</div>
        <div id="{% block page-id %}{% endblock %}">
            {% block content %}
            {% endblock %}
        </div>
        <div id="footer">
            <a href = '{% url login %}'>Administration</a>
        </div>

    </body>
</html>
