<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" >
    <head>
        <title>{% block title %}{% endblock %}</title>
        <!-- <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"> -->
        <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-combined.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/ancf_style.css" type="text/css" />
        <script src="{{ STATIC_URL }}js/jquery-latest.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>

        <!--[if gte IE 7]>
            <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/ancf_ie7.css" />
        <![endif]-->
    </head>
    <div class="logo_left"><img alt="" src="{{ STATIC_URL }}css/images/sigle.gif"></div>
    <body>
        <div class="container">
            <div id="myCarousel" class="carousel slide">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="active item"><img  class="img-polaroid" alt="" src="{{ STATIC_URL }}css/images/anm.jpg" style="height: 16em; width: 66.4em;"></div>
                    <div class="item"><img   class="img-polaroid" alt="" src="{{ STATIC_URL }}css/images/facade.jpg" style="height: 16em; width: 66.4em;"></div>
                    <div class="item"><img   class="img-polaroid" alt="" src="{{ STATIC_URL }}css/images/mali-drapeau.jpg" style="height: 16em; width: 66.4em;"></div>
                </div>
                <div class="carousel-caption"><div id="name"><h1>Assemblée Nationale du Mali</h1>Commission des finances</div id="name"></div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>
            <div >{% include "_menu.html" %}</div>
            {% if messages %}
                <div class="alert alert-info"><button type="button" class="close" data-dismiss="alert">&times;</button>
                    <ul class="messages">
                        {% for message in messages %} <li>
                        <span>{{ message }}</span></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div id="{% block page-id %}{% endblock %}">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-39284386-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js' ;
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </body>
    <div class="logo_right"><img alt="" src="{{ STATIC_URL }}css/images/sigle.gif"></div>
    <div id="footer">
            {% ifequal menu 'admin' %}
                <a href = '{% url dashboard %}'><span class="label label-info">Retourner au site</span></a> <a href="{% url logout %}"><span class="label label-info">Se déconnecter</span></a>
            {% else %}
                <a href = '{% url login %}'><span class="label label-info">Espace d'administration</span></a>
            {% endifequal %}
    </div>
</html>
