{% extends "base.html" %}
{% block title %}Accueil{% endblock %}
{% block page-id %}dashboard{% endblock %}
{% block content %}

    <!-- <h2 >Accueil </h2> -->
    <div class="container-fluid">
    <div class="row-fluid">
    <div class="span3">
    <!--Sidebar content-->
        <fieldset ><legend>Brèves</legend>
            {%if last_new%}
                <h4>{{last_new.title}}</h4>
                <ul>
                    <li>Le {{last_new.date}}</li>
                </ul>
                <ul>
                    <li>Message</li><li>{{last_new.comment}}</li>
                </ul>
                <a href="{% url history_news %}">Voir tous</a>
            {% else %}
            <ul><li> {{message_empty_c}}</li></ul>
            {% endif %}
        </fieldset>
        <fieldset ><legend>Newsletter:</legend>
            <form action="" class="form-search" method="post">{% csrf_token %}
                {{form.email.label}}:{{form.email}}{{form.email.errors}}
                <input type='submit' class="btn" value =  "OK"/>
            </form>
        </fieldset>
        <fieldset ><legend>Derniers rapports:</legend>
            {%if reports%}
                <ul>
                    {% for rep in reports %}
                        <li><p><a href="{{rep.url_report_date}}">{{rep.title_report}}</a></p></li>
                    {%endfor%}
                </ul>
            {% else %}
                <ul><li> {{message_empty_r}}</li></ul>
            {% endif %}
        </fieldset>
    </div>
    <div class="span9">
    <!--Body content-->
        <fieldset class="module aligned ">
            {% if textstatic %} {{textstatic.text}}
            {% else %}
                Pas de contenu
            {% endif %}
        </fieldset>
    </div>
    </div>
    </div>

{% endblock %}