{% extends "base.html" %}
{% load tinymce_tags %}
{% block title %} Commission des finances de l'Assemblée Nationale du Mali{% endblock %}
{% block page-id %}dashboard{% endblock %}
{% block content %}

    <!-- <h2 >Accueil </h2> -->
    <div class="container-fluid">
    <div class="row-fluid">
    <div class="span3">
    <!--Sidebar content-->
        <fieldset ><legend><h4>Président</h4></legend>
            {%if president%}
            <ul class="thumbnails" class="carousel-caption2">
                <li class="span6">
                    <a href="{{president.url_display}}" class="thumbnail"><img class="photo" src="{% if president.image %}{{president.image.url}}{% endif %}"></a><h4><small>{{president.first_name}} {{president.last_name}}</small></h4>
                </li>
            </ul>
            {% endif %}
        </fieldset>
        <fieldset ><legend><h4>Brèves</h4></legend>
            {%if last_new%}
                <div class="well well-small">
                    <h6>{{last_new.title}}</br>
                        <small>Publié le {{last_new.date}}</small></h6>
                    <p class="text-info">{{last_new.comment}}</p>
                    <p><a href="{% url history_news %}"><button class="btn btn-small">Voir toutes les brèves <i class="icon-flag"></i></button></a></p>
                </div>
            {% else %}
            <ul><li> {{message_empty_c}}</li></ul>
            {% endif %}
        </fieldset>
        <fieldset ><legend><h4>Newsletter:</h4></legend>
            <form action="" class="form-search" method="post">{% csrf_token %}
                <p>Recevoir les annonces</p>

                <input id="id_email" type="text" maxlength="75" name="email" value="{{form.email.value|default:''}}" placeholder="{% if form.email.errors %}{% for error in form.email.errors %}{{ error }}{% endfor %}{% else %}Entrez votre e-mail{% endif %}" />
                {{ form.email.errors }}
                <input type='submit' class="btn btn-small btn-primary" value =  "S'inscrire"/>
            </form>
        </fieldset>
        <fieldset ><legend><h4>Derniers rapports:</h4></legend>
            <div class="">
                {%if reports%}
                    <ul>
                        {% for rep in reports %}
                            <li><p><a href="{{rep.url_report_date}}">{{rep.title_report}}</a></p></li>
                        {%endfor%}
                    </ul>
                {% else %}
                    Aucun rapport publié.
                {% endif %}
            </div>
        </fieldset>
    </div>
    <div class="span9">
    <!--Body content-->
        <fieldset class="module aligned ">
            {% if textstatic %} <html>{{textstatic.text|safe}}</html>
            {% else %}
                Présentation de la comission à venir...
            {% endif %}
        </fieldset>
    </div>
    </div>
    </div>

{% endblock %}