{% extends "base.html" %}
{% block title %}Ajout Membre{% endblock %}
{% block page-id %}add_member{% endblock %}
{% block content %}

    <h2  class="page-header">Modification la présentation de la commission des finances</h2>
    <form action="" method="post" class="form-search" enctype="multipart/form-data">{% csrf_token %}
        <div id="member_form">
            <table class="table table-bordered table-striped">
                <tr>
                    <td>{{form.text.label}}:</td>
                    <td>{{form.text}}</td>
                    {% if form.text.errors %}
                        <td>{{form.text.errors}}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td></td><td><input type='submit' class="btn" value =  "Modifier"/></td>
                </tr>
            </table>
        </div>
    </form>

{% endblock %}
