{% extends "base.html" %}
{% block title %}edit_memeber{% endblock %}
{% block page-id %}edit_memeber{% endblock %}
{% block content %}

    <h1>Modification de membre de la Commission Finance</h1>
    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div><img src="/static/{{image}}" width="100" height ="100"></div>
        <div id="member_form">
            <table>
                <tr>
                    <td>{{form.last_name.label}}:</td><td>{{form.last_name}}</td>
                    {% if form.last_name.errors %}
                        <td>{{form.last_name.errors}}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>{{form.first_name.label}}:</td><td>{{form.first_name}}</td>
                    {% if form.first_name.errors %}
                        <td>{{form.first_name.errors}}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>{{form.image.label}}: {{image}}</td><td>{{form.image}}</td>
                    {% if form.image.errors %}
                        <td>{{form.image.errors}}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>{{form.post.label}}:</td><td>{{form.post}}</td>
                    {% if form.post.errors %}
                        <td>{{form.post.errors}}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>{{form.email.label}}:</td><td>{{form.email}}</td>
                    {% if form.email.errors %}
                        <td>{{form.email.errors}}</td>
                    {% endif %}
                </tr>
                </tr>
                <tr>
                    <td>{{form.status.label}}:</td><td>{{form.status}}</td>
                    {% if form.status.errors %}
                        <td>{{form.status.errors}}</td>
                    {% endif %}
                </tr>
            </table>
            <input type='submit' value =  "Enregistrer"/>
        </div>
    </form>
{% endblock %}
