{% extends "base.html" %}
{% block title %}edit_memeber{% endblock %}
{% block page-id %}edit_memeber{% endblock %}
{% block content %}

    <h2>Modification de membre de la commission des finances</h2>
    <div class="media">
    <a class="pull-left" href="#"><img class="media-object" data-src="holder.js/64x64"src="/static/{{image}}" width="190" height ="190"></a>
    <div class="media-body">
        <form action="" method="post" class="form-search" enctype="multipart/form-data">{% csrf_token %}
        <div id="member_form">
            <table class="table table-bordered table-striped">
                <tr>
                    <td>{{form.last_name.label}}:</td><td>{{form.last_name}}</td>
                    {% if form.last_name.errors %}
                        <td>{{form.last_name.errors}}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>{{form.first_name.label}}:</td><td>{{form.first_name}} {{form.first_name.errors}}</td>
                </tr>
                <tr>
                    <td>{{form.image.label}}: {{image}}</td><td>{{form.image}} {{form.image.errors}}</td>
                </tr>
                <tr>
                    <td>{{form.post.label}}:</td><td>{{form.post}} {{form.post.errors}}</td>
                </tr>
                <tr>
                    <td>{{form.email.label}}:</td><td>{{form.email}} {{form.email.errors}}</td>
                </tr>
                <tr>
                    <td>{{form.status.label}}:</td><td>{{form.status}} {{form.status.errors}}</td>
                </tr>
                <tr>
                    <td></td><td><input type='submit' class="btn" value =  "Enregistrer"/></td>
                </tr>
            </table>
        </div>
    </div>
    </div>
    </form>
{% endblock %}
