{% extends "base.html" %}
{% block title %}Aide{% endblock %}
{% block page-id %}help{% endblock %}
{% block content %}
    <h1>Aide en ligne </h1>
    <div class="entry">
        <fieldset class="module aligned ">

            Là, je me trouve dans les onglets et je travaille sur les liens.
            On fait ici un affichage bloc, ça permet de pouvoir cliquer partout dans
             l'onglet pour activer le lien. La couleur
            du lien se change aussi ici. Le text-decoration : none sert à
             enlever le trait de soulignement en dessous des liens. Enfin,
            on met une marge aux quatre bords des cellules, donc padding : 4px.
            Et la touche finale : quand on passe avec la souris dessus,
            le fond change de couleur : :D , il faut donc se placer dans l'id onglet avec a:hover pour le lien.
        </fieldset>
    </div>
{% endblock %}
