{% extends "base.html" %}
{% block title %}Connexion{% endblock %}
{% block page-id %}login{% endblock %}
{% block content %}

    <div id='page_login'>
        {{state}}
        <ul id="menu_login">
            <form action="{% url login %}" method="post">{% csrf_token %}
                <table>
                    <tr>
                        <td>{{ form.as_table }}</td>
                    </tr>
                    <tr>
                        <td></td><td><input id = 'id_Connexion' type="submit" value="Se connecter" ></td>
                    </tr>
                </table>
            </form>
        </ul>
    </div>

{% endblock %}
