{% extends "base.html" %}
{% block title %}Member{% endblock %}
{% block page-id %}Member{% endblock %}
{% block content %}
    <div id="bienvenu">
        <span>{% include "_bienvenu_utilisateur.html" %}</span>
    </div>
    <h1>La liste des membres de la Commission Finance</h1>
    <table>
        <thead>
            <tr>
               <th> Noms </th>
               <th> Pénoms </th>
               <th> Poste </th>
               <th> Email </th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
                <tr>
                    <td>{{member.last_name}}</td>
                    <td>{{member.first_name}}</td>
                    <td>{{member.post}}</td>
                    <td>{{member.email}}</td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
{% endblock %}
