{% extends "base.html" %}
{% block title %}Modification Organigramme{% endblock %}
{% block page-id %}modiforganization_chart{% endblock %}
{% block content %}

    <h2 class="page-header">Modification de l'organigramme de la commission des finances</h2>

    <form action="" class="form-search" method="post">{% csrf_token %}

        <div id="org_form">
            <table class="table table-bordered table-striped">
                <tr>
                    <td>{{form.president.label}}:</td><td>{{form.president}}{{form.president.errors}}</td>
                </tr>
                <tr>
                    <td >{{form.secretary.label}}:</td><td>{{form.secretary}}{{form.secretary.errors}}</td>
                </tr>
                <tr>
                    <td >{{form.assistant_Treasurer.label}}:</td><td>{{form.assistant_Treasurer}}{{form.assistant_Treasurer.errors}}</td>
                </tr>
                <tr>
                    <td >{{form.treasurer.label}}:</td><td>{{form.treasurer}}{{form.treasurer.errors}}</td>
                </tr>
                <tr>
                    <td></td><td><input type='submit' class="btn" value =  "Enregistrer"/></td>
                </tr>
            </table>
        </div>
    </form>

{% endblock %}
