{% extends "base.html" %}
{% block title %}Modification Organigramme{% endblock %}
{% block page-id %}modiforganization_chart{% endblock %}
{% block content %}

        <h1>Modification de l'organigramme de la Commission Finance</h1>

        <form action="" method="post">{% csrf_token %}

            <div id="org_form">
                <table>
                    <tr>
                        <td>{{form.president.label}}:</td>
                        <td>{{form.president}}</td>
                        {% if form.president.errors %}
                            <td>{{form.president.errors}}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>{{form.date.label}}:</td>
                        <td>{{form.date}}</td>
                        {% if form.date.errors %}
                            <td>{{form.date.errors}}</td>
                        {% endif %}
                    </tr>
                </table>

                <input type='submit' value =  "Envoyer"/>
            </div>
        </form>

{% endblock %}
