{% extends "base.html" %}
{% block title %}Brèves{% endblock %}
{% block page-id %}news{% endblock %}
{% block content %}
 <title>jQuery UI Datepicker - Default functionality</title>
</html>
    <h2 class="page-header">Gestion des brèves</h2>
    <p>Les brèves sont des communiqués courts à destination principalement des membres, mais pas seulement.</p>
    <p>Ils seront utilisés principalement pour les convocations et avis de réunions.</p>
    <p>Un e-mail est envoyé à tous les abonnés de la liste dès la publication du communiqué.</p>

    <h3>Publier un nouveau communiqué (brève)</h3>
        <fieldset class="module aligned ">
            <form action="" class="form-search" method="post">{% csrf_token %}
                <table class="table table-bordered table-striped" >
                    <tr><td>{{form.title.label}}</td><td>{{form.title}} {{form.title.errors}}</td></tr>
                    <tr><td>{{form.date.label}}</td><td>{{form.date}} {{form.date.errors}}</td></tr>
                    <tr><td>{{form.author.label}}</td><td>{{form.author}} {{form.author.errors}}</td></tr>
                    <tr><td>{{form.comment.label}}</td><td colspan=4>{{form.comment}} {{form.comment.errors}}</td></tr>
                    <tr><td colspan=4><input type='submit' class="btn"  value =  "Publier"/></td></tr>

                </table>
            </form>
        </fieldset>
        <script type="text/javascript">
            jQuery('#id_date').datepicker({
                 dateFormat: 'dd/mm/yy',
                });
        </script>
    </div>
    <h3>Archives</h3>
{% endblock %}
