{% extends "base.html" %}
{% block title %}Organigramme de la commission des finances{% endblock %}
{% block page-id %}Organization_chart{% endblock %}
{% block content %}

    <h2  class="page-header">Organigramme de la commission des finances</h2>
    {% if org %}
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span4">
                    <fieldset ><legend>Bureau de la commission</legend>
                        {% if org.president %}
                            <img class="photo" src="/static/{{org.president.image}}" width="121px" height ="121px"><p><a href="{{org.president.url_display}}">{{org.president}}</a><br>Président</p>
                        {% endif %}
                        {% if org.vice_president %}
                            <img src="/static/{{org.vice_president.image}}" width="100" height ="100"><p><a href="{{org.vice_president.url_display}}">{{org.vice_president}}</a><br>Vice-Président</p>
                        {% endif %}
                        {% if org.raporter %}
                            <img src="/static/{{org.raporter.image}}" width="100" height ="100"><p><a href="{{org.raporter.url_display}}">{{org.raporter}}</a><br>Rapporteur General</p>
                        {% endif %}
                    </fieldset>
                </div>
                <div class="span4">
                    <fieldset><legend>Assistants Parlemantaires</legend>
                        {% if org.assistant1 %}
                            <img src="/static/{{org.assistant1.image}}" width="100" height ="100"><p><a href="{{org.assistant1.url_display}}">{{org.assistant1}}</a><br>Assistant</p>{% endif %}
                        {% if org.assistant2 %}
                            <img src="/static/{{org.assistant2.image}}" width="100" height ="100"><p><a href="{{org.assistant2.url_display}}">{{org.assistant2}}</a><br>Assistant</p>{% endif %}
                        {% if org.assistant3 %}
                            <img src="/static/{{org.assistant3.image}}" width="100" height ="100"><p><a href="{{org.assistant3.url_display}}">{{org.assistant3}}</a><br>Assistant</p>{% endif %}
                    </fieldset>
                </div>
                <div class="span4">
                    <fieldset><legend>UNACEM</legend>
                        {% if org.cordinator %}
                            <img src="/static/{{org.cordinator.image}}" width="100" height ="100"><p><a href="{{org.cordinator.url_display}}">{{org.cordinator}}</a><br>Coordinateur</p>
                        {% endif %}
                        {% if org.vice_cordinator %}
                            <img src="/static/{{org.vice_cordinator.image}}" width="100" height ="100"><p><a href="{{org.vice_cordinator.url_display}}">{{org.vice_cordinator}}</a><br>Coordinateur Adjoint</p>{% endif %}
                        {% if org.fix %}
                            <img src="/static/{{org.fix.image}}" width="100" height ="100"><p><a href="{{org.fix.url_display}}">{{org.fix}}</a><br>Expert en fixalité</p>
                        {% endif %}
                        {% if org.gestion %}
                            <img src="/static/{{org.gestion.image}}" width="100" height ="100"><p><a href="{{org.gestion.url_display}}">{{org.gestion}}</a><br>Assistante de gestion</p>
                        {% endif %}
                        {% if org.assistant_fix %}
                            <img src="/static/{{org.assistant_fix.image}}" width="100" height ="100"><p><a href="{{org.assistant_fix.url_display}}">{{org.assistant_fix}}</a><br>Assistant en fixalité</p>
                        {% endif %}
                    </fieldset>
                </div>
            </div>
        </div>
        <h3>Membres</h3>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Photo</th>
                    <th>Nom et Prénoms</th>
                </tr>
            </thead>
            <tbody>
                {% if members %}
                    {% for member in members %}
                        <tr>
                            <td><img src="/static/{{member.image}}" width="100" height ="100"></td>
                            <td><a href="{{member.url_display}}">{{member}}</a></td>
                        </tr>
                    {%endfor%}
                {% else %}
                    <tr><td style="text-align: center;" colspan=4>Pas de membres pour le moment.</td></tr>
                {%endif%}
            </tbody>
        </table>

    {% else%}
        <p>Pas d'organigramme pour le moment.</p></td>
    {%endif%}
{% endblock %}
