{% extends "base.html" %}
{% block title %}Organigramme de la commission des finances{% endblock %}
{% block page-id %}Organization_chart{% endblock %}
{% block content %}

    <h2  class="page-header">Organigramme de la commission des finances</h2>
    {% if org %}
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span4">
                    <fieldset ><legend>Bureau de la commission</legend>
                        {% if org.president %}
                            <ul class="thumbnails">
                                <li class="span6">
                                    <h6>Président</h6>
                                    <a href="{{org.president.url_display}}" class="thumbnail"><img class="photo" src="/media/{{org.president.image}}"><h4><small>{{org.president}}</small></h4></a>
                                </li>
                            </ul>
                        {% endif %}
                        {% if org.vice_president %}
                            <ul class="thumbnails">
                                <li class="span6">
                                    <h6>Vice-Président</h6>
                                    <a href="{{org.vice_president.url_display}}"  class="thumbnail"><img src="/media/{{org.vice_president.image}}"><h4><small>{{org.vice_president}}</small></h4></a>
                                </li>
                            </ul>
                        {% endif %}
                        {% if org.raporter %}
                            <ul class="thumbnails">
                                <li class="span6">
                                    <h6>Rapporteur General</h6>
                                    <a href="{{org.raporter.url_display}}"  class="thumbnail"><img src="/media/{{org.raporter.image}}"><h4><small>{{org.raporter}}</small></h4></a>
                                </li>
                            </ul>
                        {% endif %}
                    </fieldset>
                </div>
                <div class="span4">
                    <fieldset><legend>Assistants Parlemantaires</legend>
                        {% if org.assistant1 %}
                            <ul class="thumbnails">
                                <li class="span6">
                                    <h6>Assistant</h6>
                            <a href="{{org.assistant1.url_display}}"  class="thumbnail"><img src="/media/{{org.assistant1.image}}"><h4><small>{{org.assistant1}}</small></h4></a>
                                </li>
                            </ul>{% endif %}
                        {% if org.assistant2 %}
                            <ul class="thumbnails">
                                <li class="span6">
                                    <h6>Assistant</h6>
                            <a href="{{org.assistant2.url_display}}"  class="thumbnail"><img src="/media/{{org.assistant2.image}}"><h4><small>{{org.assistant2}}</small></h4></a>
                                </li>
                            </ul>{% endif %}
                        {% if org.assistant3 %}
                            <ul class="thumbnails">
                                <li class="span6">
                                    <h6>Assistant</h6>
                            <a href="{{org.assistant3.url_display}}"  class="thumbnail"><img src="/media/{{org.assistant3.image}}"><h4><small>{{org.assistant3}}</small></h4></a>
                                </li>
                            </ul>{% endif %}
                    </fieldset>
                </div>
                <div class="span4">
                    <fieldset><legend>UNACEM</legend>
                        {% if org.cordinator %}
                            <ul class="thumbnails">
                                <li class="span6">
                                    <h6>Coordinateur</h6>
                                    <a href="{{org.cordinator.url_display}}"  class="thumbnail"><img src="/media/{{org.cordinator.image}}"><h4><small>{{org.cordinator}}</small></h4></a>
                                </li>
                            </ul>
                        {% endif %}
                        {% if org.vice_cordinator %}
                            <ul class="thumbnails">
                                <li class="span6">
                                    <h6>Coordinateur Adjoint</h6>
                                    <a href="{{org.vice_cordinator.url_display}}"  class="thumbnail"><img src="/media/{{org.vice_cordinator.image}}"><h4><small>{{org.vice_cordinator}}</small></h4></a>
                                </li>
                            </ul>
                            {% endif %}
                        {% if org.fix %}
                            <ul class="thumbnails">
                                <li class="span6">
                                    <h6>Expert en fixalité</h6>
                                     <a href="{{org.fix.url_display}}"  class="thumbnail"><img src="/media/{{org.fix.image}}"><h4><small>{{org.fix}}</small></h4></a>
                                </li>
                            </ul>
                        {% endif %}
                        {% if org.gestion %}
                            <ul class="thumbnails">
                                <li class="span6">
                                    <h6>Assistante de gestion</h6>
                                    <a href="{{org.gestion.url_display}}"  class="thumbnail"><img src="/media/{{org.gestion.image}}"><h4><small>{{org.gestion}}</small></h4></a>
                                </li>
                            </ul>
                        {% endif %}
                        {% if org.assistant_fix %}
                            <ul class="thumbnails">
                                <li class="span6">
                                    <h6>Assistant en fixalité</h6>
                                    <a href="{{org.assistant_fix.url_display}}"  class="thumbnail"><img src="/media/{{org.assistant_fix.image}}"><h4><small>{{org.assistant_fix}}</small></h4></a>
                                </li>
                            </ul>
                        {% endif %}
                    </fieldset>
                </div>
            </div>
        </div>
        <h3>Membres</h3>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Photo</th>
                    <th>Nom et Prénom</th>
                </tr>
            </thead>
            <tbody>
                {% if members %}
                    {% for member in members %}
                        <tr>
                            <td><a href="{{member.url_display}}"><img src="/media/{{member.image}}"></a></td>
                            <td><a href="{{member.url_display}}">{{member}}</a></td>
                        </tr>
                    {%endfor%}
                {% else %}
                    <tr><td style="text-align: center;" colspan=4>Pas de membres pour le moment.</td></tr>
                {%endif%}
            </tbody>
        </table>

    {% else%}
        <p>Pas d'organigramme pour le moment.</p></td>
    {%endif%}
{% endblock %}
