{% extends "base.html" %}
{% block title %}Rapport{% endblock %}
{% block page-id %}report{% endblock %}
{% block content %}

    <form id="rech" class="form-search">
        <div class="input-prepend">
        <button type="submit" class="btn">Search</button>
        <input type="text" class="span2 search-query">
        </div>
    </form>
    <h2 class="page-header">Rapports</h2>
    {% if reports %}
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
                {% for rep in reports %}
                    <li {%ifequal selected_report.id rep.id%} class="active" {%endifequal%}><a href="{{rep.url_report_date}}"> {{rep.date}}</a></li>
                {%endfor%}
            </ul>
            <div class="tab-content">
                <h4>
                    <div id="telechargement">
                        <a href="{{selected_report.url_report}}" class = "btn">Téléchager<img src="/static/css/images/pdf.png" width="100"></a>
                    </div>
                    <div> Date : <small>{{selected_report.date}}</small></div>
                    <div> Titre : <small>{{selected_report.title_report}}</small></div>
                    <div> Description : <small>{{selected_report.description}}</small></div>
                    <div> Rapporteur : <small>{{selected_report.author}}</small></div>
                </h4>
            </div>
        </div>
    {%else%}
        <fieldset >
            <div id="report">{{message_empty_r}}</td></div>
        </fieldset>
    {% endif %}
        <script type="text/javascript">
            jQuery('#id_date').datepicker({
                 dateFormat: 'dd/mm/yy',
                });
        </script>
{% endblock %}
