{% extends "base.html" %}
{% block title %}Rapport{% endblock %}
{% block page-id %}report{% endblock %}
{% block content %}

    <h1>Rapports</h1>
    {% if reports %}
        <div id=menu_report>
            <ul>
                {% for rep in reports %}<li {%ifequal selected_report.date rep.date%} class="current" {%endifequal%}><p><a href="{{rep.url_report_date}}"> {{rep.date}}</a></p></li>{%endfor%}
            </ul>
        </div>
        <fieldset >
            <div id="report">
                <table>
                    <tbody>
                        <tr>
                            <td> Date </td><td>{{selected_report.date}}</td>
                        </td>
                        <tr>
                            <td> Titre </td><td>{{selected_report.type_report}}</td>
                        </td>
                        <tr>
                            <td> Description </td><td>{{selected_report.description}}</td>
                        </td>
                        <tr>
                            <td> Rapporteur </td><td>{{selected_report.author}}</td>
                        </td>
                    </tbody>
                </table>
            </div>
            <div id="telechargement">
                <a href="{{selected_report.url_report}}" class = "buttons">Téléchager       <img src="/static/css/images/pdf.png" width="80"></a>
            </div>
        </fieldset>
    {%else%}
        <fieldset >
            <div id="report">{{message_empty_r}}</td></div>
        </fieldset>
    {% endif %}
{% endblock %}
